---
const today = new Date();
---

<footer class='container mt-8'>
	<div class='justify-center flex gap-4 py-8 prose dark:prose-invert text-sm'>
		<a href='mailto:dashskndash@gmail.com'>Mail me</a>
		<a href='https://www.linkedin.com/in/skndash96/'>Linkedin</a>
		<a href="https://github.com/skndash96">GitHub</a>
		<a href='/rss.xml'>RSS</a>
	</div>

	<div class='py-4 border-t dark:border-t-zinc-700'>
		<div class='md:flex text-sm text-zinc-500 dark:text-zinc-300 prose dark:prose-invert justify-center'>
			Copyright © {today.getFullYear()} skndash96
		</div>
	</div>
</footer>
