---
import Author from '../Author.astro';
---

<div class='about-the-author py-4 border-b'>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			I work across backend services and web applications. I value clear API design, solid data modeling, and writing maintainable code.
			change.
		</p>
	</div>
</div>
